In [1]:
#Investor Advisor

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import date

In [2]:

#try domething lets do a linear regression for bottom peaks
#where u can change also the interval and period

#take the input of a ticker
tick = input('Enter a ticker symbol:')
input_tick = yf.Ticker(tick)

Enter a ticker symbol:TSLA

In [3]:
#create data table for stock prices of  past periods
stock_history = input_tick.history(period = 'max', interval = '1d')

In [4]:
#get current year
today = date.today()
year = int(str(today)[0:4])#2022
#Create indexes
yr1 = str(year-1)+'-12-31'#2021
yr2 = str(year-2)+'-12-31'#2020
yr3 = str(year-3)+'-12-31'#2019

In [5]:
#Stock prices for each year
yr1_price = stock_history.loc[yr1,'Close']
yr2_price = stock_history.loc[yr2,'Close']
yr3_price = stock_history.loc[yr3,'Close']
yr1_price

1056.780029296875

In [68]:
stock_earnings = input_tick.earnings
stock_earnings

          Revenue    Earnings
Year
2018  21461000000  -976000000
2019  24578000000  -862000000
2020  31536000000   721000000
2021  53823000000  5519000000

In [59]:
#Company Earnings for each year
stock_earnings = input_tick.earnings
yr1_earnings = stock_earnings.loc[year-1,'Earnings']
yr2_earnings = stock_earnings.loc[year-2,'Earnings']
yr3_earnings = stock_earnings.loc[year-3,'Earnings']
yr1_earnings

5519000000

In [66]:
stock_balance = input_tick.balance_sheet
stock_balance

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Intangible Assets,2.570000e+08,3.130000e+08,3.390000e+08,2.820000e+08
Capital Surplus,2.980300e+10,2.726000e+10,1.273600e+10,1.024900e+10
Total Liab,3.054800e+10,2.846900e+10,2.619900e+10,2.342700e+10
Total Stockholder Equity,3.018900e+10,2.222500e+10,6.618000e+09,4.923000e+09
Minority Interest,1.394000e+09,1.454000e+09,1.492000e+09,1.390000e+09
Other Current Liab,4.756000e+09,4.147000e+09,3.693000e+09,2.955000e+09
Total Assets,6.213100e+10,5.214800e+10,3.430900e+10,2.974000e+10
Common Stock,1.000000e+06,1.000000e+06,1.000000e+06,NaN
Other Current Assets,3.450000e+08,2.380000e+08,2.460000e+08,1.930000e+08
Retained Earnings,3.310000e+08,-5.399000e+09,-6.083000e+09,-5.318000e+09
Other Liab,3.896000e+09,3.302000e+09,2.969000e+09,2.318000e+09
Good Will,2.000000e+08,2.070000e+08,1.980000e+08,6.800000e+07
Treasury Stock,5.400000e+07,3.630000e+08,-3.600000e+07,-8.000000e+06
Other Assets,3.398000e+09,1.536000e+09,1.469000e+09,1.380000e+09
Cash,1.757600e+10,1.938400e+10,6.268000e+09,3.686000e+09
Total Current Liabilities,1.970500e+10,1.424800e+10,1.066700e+10,9.993000e+09
Short Long Term Debt,1.088000e+09,1.758000e+09,1.399000e+09,2.284000e+09
Other Stockholder Equity,5.400000e+07,3.630000e+08,-3.600000e+07,-8.000000e+06
Property Plant Equipment,3.117600e+10,2.337500e+10,2.019900e+10,1.969100e+10
Total Current Assets,2.710000e+10,2.671700e+10,1.210300e+10,8.307000e+09
Net Tangible Assets,2.973200e+10,2.170500e+10,6.081000e+09,4.573000e+09
Short Term Investments,1.310000e+08,NaN,NaN,NaN
Net Receivables,1.986000e+09,1.903000e+09,1.324000e+09,9.490000e+08
Long Term Debt,4.285000e+09,8.571000e+09,1.037500e+10,8.461000e+09
Inventory,5.757000e+09,4.101000e+09,3.552000e+09,3.113000e+09
Accounts Payable,1.002500e+10,6.051000e+09,3.771000e+09,3.405000e+09
Long Term Investments,NaN,NaN,1.000000e+06,1.200000e+07

In [100]:
stock_balance = input_tick.balance_sheet
yr1_stock = float(stock_balance.loc['Total Stockholder Equity'][yr1])
yr2_stock = float(stock_balance.loc['Total Stockholder Equity'][yr2])
yr3_stock = float(stock_balance.loc['Total Stockholder Equity'][yr3])
yr1_stock

30189000000.0

In [103]:
PEyr1 =yr1_price/(yr1_earnings/yr1_stock)
PEyr2 =yr2_price/(yr2_earnings/yr2_stock)
PEyr3 =yr3_price/(yr3_earnings/yr3_stock)

PEavg = (PEyr1+PEyr2+PEyr3)/3
PEyr1

5780.600163878123

In [102]:
stock_info = input_tick.info
PEnow = stock_info['trailingPE']
print(PEavg)
print(PEnow)

8963.567811231933
177.66986

In [96]:
.info
totalshares = stock_info['sharesOutstanding']

stock_history = yf.Ticker('TSLA').earnings
stock_history = yf.Ticker('TSLA').history(period = '10y')
#new_stock = stock_history[stock_history['Date'].contains('2017')]
stock18 = stock_history.loc['2018-01-01':'2018-12-30']
stock18['Close'].mean()

63.44959191894531

In [101]:
stock_earnings = yf.Ticker('TSLA').earnings
stock_earnings.loc[2018]['Earnings']/totalshares

-0.9443546602261472

In [ ]:

#new_stock = stock_history[stock_history['To Grade'] == 'Buy']

In [ ]:
_yr1
_yr2
_yr3
_c

In [84]:
# common stock

          Revenue    Earnings
Year
2018  21461000000  -976000000
2019  24578000000  -862000000
2020  31536000000   721000000
2021  53823000000  5519000000

In [102]:
stock_earnings = yf.Ticker('TSLA').balance_sheet

In [138]:
stock_earnings = stock_earnings[stock_earnings == None] = 0.0

TypeError: 'float' object does not support item assignment

In [131]:
outstock19 = stock_earnings.loc['Common Stock']['2019-12-31'] - stock_earnings.loc['Treasury Stock']['2019-12-31']

In [132]:
outstock19

2019-12-31    37000000.0
dtype: float64

In [120]:
stock_income_statement = yf.Ticker('TSLA').financials

In [121]:
stock_income_statement

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Research Development,2593000000.0,1491000000.0,1343000000.0,1460000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,6343000000.0,1154000000.0,-665000000.0,-1005000000.0
Minority Interest,1394000000.0,1454000000.0,1492000000.0,1390000000.0
Net Income,5519000000.0,721000000.0,-862000000.0,-976000000.0
Selling General Administrative,4517000000.0,3188000000.0,2646000000.0,2835000000.0
Gross Profit,13606000000.0,6630000000.0,4069000000.0,4042000000.0
Ebit,6523000000.0,1951000000.0,80000000.0,-253000000.0
Operating Income,6523000000.0,1951000000.0,80000000.0,-253000000.0
Other Operating Expenses,-27000000.0,-27000000.0,-27000000.0,-27000000.0
Interest Expense,-358000000.0,-784000000.0,-725000000.0,-653000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,699000000.0,292000000.0,110000000.0,58000000.0
Total Revenue,53823000000.0,31536000000.0,24578000000.0,21461000000.0
Total Operating Expenses,47300000000.0,29585000000.0,24498000000.0,21714000000.0
Cost Of Revenue,40217000000.0,24906000000.0,20509000000.0,17419000000.0
Total Other Income Expense Net,-180000000.0,-797000000.0,-745000000.0,-752000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,5644000000.0,862000000.0,-775000000.0,-1063000000.0
Net Income Applicable To Common Shares,5524000000.0,690000000.0,-870000000.0,-976000000.0